{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="postlist">
	{% for post in collections.posts | reverse %}
		<li class="post">
			<span class="post-title">
				{% if post.data.externalLink %}
					<a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
				{% else %}
					<a href="{{ post.url }}">{{ post.data.title }}</a>
				{% endif %}
			</span>
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		</li>
	{% endfor %}
	{# {% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
	</li>
{% endfor %} #}
</ol>
